.message-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.message {
  max-width: 70%;
  border-radius: 10px;
  padding: 8px 12px;
  margin: 4px;
}

.message p {
  margin: 0;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}

.svg-appendix {
  left: -0.562rem;
}

.svg-appendix {
  overflow: hidden;
  position: absolute;
  bottom: -0.0625rem;
  width: 0.5625rem;
  height: 1.125rem;
  font-size: 1rem !important;
}
